.result-box {
    background-color: gray;
    margin: 20px 0px;
    & > div {
        text-align: center;
        margin: 20px 0px;
        width: 200px;
    }
    &.correct {
        border: 2px solid green;
    }
    &.incorrect {
        border: 2px solid red;
    }
}