.quiz-container {
    width: 100%;
    font-family: 'Verdana', cursive, sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.quiz-box {
    background-color: #252d4a;
    width: 550px;
    min-height: 200px;
    height: min-content;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
}

.question-section {
    width: 100%;
    position: relative;
}

.question-count {
    margin-bottom: 20px;
}

.question-count span {
    font-size: 28px;
}

.question-text {
    margin-bottom: 12px;
}

.results-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}