.quiz-button {
    border-radius: 20px;
    min-width: 165px;
    width: auto;
    height: 50px;
    letter-spacing: 1.5px;
    font-family: 'ZCOOL KuaiLe', cursive;
    line-height: 50px;
    padding: 0 35px 0 35px;
    font-size: 15px;
    background-color: #181A18;
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
    border: none;
    cursor: pointer;
    text-align: center;
    margin: 25px 0;
    &:hover {
        background-color: white;
        color: #181A18;
        border: 1px solid black;
    }
}
